@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .container {
    @apply max-w-screen-xl mx-auto lg:px-24 md:px-20 sm:px-10 px-4 overflow-hidden;
  }

  .cmoc-bg {
      background: url('https://rc24.xyz/goodies/wallpapers/CMO_Channel_BG_1600x900.png') no-repeat center center / cover;
      background-color: rgba(32, 41, 58, 0.6);
  }

  @media (prefers-color-scheme: dark) {
    .cmoc-bg {
      background-color: rgba(32, 41, 58, 0.8); /* Darker for dark mode */
      background-blend-mode: multiply; /* Different blend mode for dark mode */
      box-shadow: 
      0px 0px 120px #9bd7330d, /* Dark mode shadow, slightly more visible */
      0px 0px 90px #c33ed20d,  /* Slightly lighter and smaller */
      0px 0px 70px #7ba7dd0d,  /* Even lighter and smaller */
      0px 0px 50px #eb7f1b0d,  /* Lighter still */
      0px 0px 30px #7ba7dd0d;
    }
  }

  .tooltip {
    @apply invisible absolute;
  }
  
  .has-tooltip:hover .tooltip {
    @apply visible z-50;
  }

  .text-black {
    color: black !important;
  }

  @media (prefers-color-scheme: dark) {
    .text-black {
      color: white !important;
    }
  }

  .draggable:hover {
    rotate: 0deg !important;
  }

  .magic_grid {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }

  .magic_grid_sm {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .btn {
    @apply p-4 pl-8 pr-8 border-2 border-gray-200 bg-gray-200 hover:bg-gray-300 hover:border-gray-500 dark:border-slate-800 dark:bg-slate-600 dark:hover:bg-slate-700 text-black transition-all;
  }

  .uppercase-first-letter::first-letter {
    text-transform: uppercase;
  }
  
  .box {
    background: orange; /* Change background color to orange */
    padding: 4px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    color: #fff;
    font-family: arial;
    position: relative;
    border: 2px solid #fff; /* Add white border */
    border-radius: 9999px;
  }
  
  .sb4:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid white; /* Now orange */
    border-right: 10px solid transparent;
    border-top: 5px solid white; /* Remains orange */
    border-bottom: 10px solid transparent;
    left: 8px;
    bottom: -15px;
  }

  .sb4:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid orange; /* Now orange */
    border-right: 10px solid transparent;
    border-top: 5px solid orange; /* Remains orange */
    border-bottom: 10px solid transparent;
    left: 10px;
    bottom: -10px;
  }

  .box-red {
    background: rgb(255, 29, 29); /* Change background color to orange */
    padding: 4px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    color: #fff;
    font-family: arial;
    position: relative;
    border: 2px solid #fff; /* Add white border */
    border-radius: 9999px;
  }
  
  .sb4-red:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid white; /* Now orange */
    border-right: 10px solid transparent;
    border-top: 5px solid white; /* Remains orange */
    border-bottom: 10px solid transparent;
    left: 8px;
    bottom: -15px;
  }

  .sb4-red:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid rgb(255, 29, 29); /* Now orange */
    border-right: 10px solid transparent;
    border-top: 5px solid rgb(255, 29, 29); /* Remains orange */
    border-bottom: 10px solid transparent;
    left: 10px;
    bottom: -10px;
  }

  .td-none {
    text-decoration: none !important;
  }

  .animate-spin {
    animation: spin 60s linear infinite;
  }

  .scroll-container {
    overflow-x: hidden;
    padding-bottom:20px;
    white-space: nowrap;
    position: relative; /* Add this line */
  }

  .scroll-container:before,
  .scroll-container:after {
    content: "";
    position: absolute;
    pointer-events: none;
    top: 0;
    bottom: 0;
    width: 100px; /* Adjust the width of the fade effect */
    z-index: 2;
  }

  .scroll-container:before {
    left: 0;
    background: linear-gradient(to right, rgb(255, 255, 255), rgba(0,0,0,0));
  }

  .scroll-container:after {
    right: 0;
    background: linear-gradient(to left, rgb(255, 255, 255), rgba(0,0,0,0));
  }

  @media (prefers-color-scheme: dark) {
    .scroll-container:before {
      background: linear-gradient(to right, rgba(30, 41, 59,1), rgba(0,0,0,0));
    }

    .scroll-container:after {
      background: linear-gradient(to left, rgba(30, 41, 59,1), rgba(0,0,0,0));
    }
  }

  .scroll-container .mt-3 {
    display: inline-flex;
    animation: scrollAnimation 300s linear infinite;
  }

  @keyframes scrollAnimation {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

  .outline-text {
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #00000060;
    font-family: 'Space Grotesk', Roboto;
    font-weight: 800;
    color: transparent;
  }

  @media (prefers-color-scheme: dark) {
    .outline-text {
      -webkit-text-stroke-color: #ffffff60 !important;
    }
  }

  .dissolve {
    transform: translate(0, -150px);
    -webkit-mask-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.7)),
      to(rgba(0, 0, 0, 0))
    );
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  }

  @media (prefers-color-scheme: dark) {
    .dissolve {
      transform: translate(0, -150px);
      -webkit-mask-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(0, 0, 0, 0.2)),
        to(rgba(0, 0, 0, 0))
      );
      mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    }
  }

  .header-link {
    transition: 0.3s;
    padding: 10px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
  }

  @media (prefers-color-scheme: dark) {
    .header-link:hover {
      background-color: #ffffff10 !important;
    }
  }

  #mobile-menu {
    top:0;
    left:0;
    width:100vw;
    height:0%;
    animation: slideUp 0.2s ease-in-out forwards;
    overflow: hidden;
    z-index: 1;
    position: fixed;
  }

  @keyframes slideUp {
    0% {
      height: 0%;
    }
    100% {
      height: 100%;
    }
  }

  .mobile-hide {
    display:block;
  }

  .mobile-hide-flex {
    display:flex;
  }

  .mobile-show {
    display:none;
  }

  @media (max-width: 1250px) {
    .mobile-hide {
      display:none;
    }

    .mobile-hide-flex {
      display:none;
    }

    .mobile-show {
      display:block;
    }
  }

  .header-link:hover {
    transform: scale(1.02) !important;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    background-color: #00000010;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
    transition: 0.3s;
    overflow: hidden;
  }

  .header-link-index {
    padding:20px;
    padding-left:30px;
    padding-right:30px;
    border-radius: 0px 0px 4px 4px;
    position: relative;
    @apply bg-gradient-to-b from-gray-400/60 to-gray-400 border-gray-400 dark:from-slate-700/60 dark:to-slate-700 dark:border-slate-700;
    transition: 0.2s;
  }

  .header-link-index:hover {
    padding-bottom: 30px;
    text-decoration: none !important;
    transition: 0.2s;
  }

  li:nth-child(1) .header-link-index {
    border-radius: 0px 0px 4px 16px;
  }

  li:nth-child(6) .header-link-index {
    border-radius: 0px 0px 16px 4px;
  }
}
