@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .container {
    @apply max-w-screen-xl mx-auto lg:px-24 md:px-20 sm:px-10;
  }

  .cmoc-bg {
    background: url('https://rc24.xyz/goodies/wallpapers/CMO_Channel_BG_1600x900.png') no-repeat center center / cover;
    background-color: rgba(32, 41, 58, 0.6);
    background-blend-mode: multiply;
    box-shadow: 
    0px 0px 100px #9bd73308, /* Original shadow */
    0px 0px 80px #c33ed208,  /* Slightly lighter and smaller */
    0px 0px 60px #7ba7dd08,  /* Even lighter and smaller */
    0px 0px 40px #eb7f1b08,  /* Lighter still */
    0px 0px 20px #7ba7dd08;
  }

  .tooltip {
    @apply invisible absolute;
  }
  
  .has-tooltip:hover .tooltip {
    @apply visible z-50;
  }

  .draggable:hover {
    rotate: 0deg !important;
  }

  .magic_grid {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }

  .magic_grid_sm {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .btn {
    @apply p-4 pl-8 pr-8 rounded-lg border-2 border-gray-500 bg-gray-300 hover:bg-gray-400 dark:border-slate-800 dark:bg-slate-600 dark:hover:bg-slate-700 transition-all;
  }

  .uppercase-first-letter::first-letter {
    text-transform: uppercase;
  }
  
  .box {
    background: orange; /* Change background color to orange */
    padding: 4px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    color: #fff;
    font-family: arial;
    position: relative;
    border: 2px solid #fff; /* Add white border */
    border-radius: 9999px;
  }
  
  .sb4:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid white; /* Now orange */
    border-right: 10px solid transparent;
    border-top: 5px solid white; /* Remains orange */
    border-bottom: 10px solid transparent;
    left: 8px;
    bottom: -15px;
  }

  .sb4:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid orange; /* Now orange */
    border-right: 10px solid transparent;
    border-top: 5px solid orange; /* Remains orange */
    border-bottom: 10px solid transparent;
    left: 10px;
    bottom: -10px;
  }

  .box-red {
    background: rgb(255, 29, 29); /* Change background color to orange */
    padding: 4px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    color: #fff;
    font-family: arial;
    position: relative;
    border: 2px solid #fff; /* Add white border */
    border-radius: 9999px;
  }
  
  .sb4-red:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid white; /* Now orange */
    border-right: 10px solid transparent;
    border-top: 5px solid white; /* Remains orange */
    border-bottom: 10px solid transparent;
    left: 8px;
    bottom: -15px;
  }

  .sb4-red:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid rgb(255, 29, 29); /* Now orange */
    border-right: 10px solid transparent;
    border-top: 5px solid rgb(255, 29, 29); /* Remains orange */
    border-bottom: 10px solid transparent;
    left: 10px;
    bottom: -10px;
  }

  .td-none {
    text-decoration: none !important;
  }

  .scroll-container {
    overflow-x: hidden;
    padding-bottom:20px;
    white-space: nowrap;
    position: relative; /* Add this line */
  }

  .scroll-container:before,
  .scroll-container:after {
    content: "";
    position: absolute;
    pointer-events: none;
    top: 0;
    bottom: 0;
    width: 100px; /* Adjust the width of the fade effect */
    z-index: 2;
  }

  .scroll-container:before {
    left: 0;
    background: linear-gradient(to right, rgba(30, 41, 59,1), rgba(255,255,255,0));
  }

  .scroll-container:after {
    right: 0;
    background: linear-gradient(to left, rgba(30, 41, 59,1), rgba(255,255,255,0));
  }

  .scroll-container .mt-3 {
    display: inline-flex;
    animation: scrollAnimation 300s linear infinite;
  }

  @keyframes scrollAnimation {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

  .outline-text {
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #ffffff60;
    font-family: 'Space Grotesk', Roboto;
    font-weight: 800;
    color: transparent;
  }

  .dissolve {
    transform: translate(0, -150px);
    -webkit-mask-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 1)),
      to(rgba(0, 0, 0, 0))
    );
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  }

  .header-link {
    transition: 0.3s;
    padding: 10px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
  }

  .header-link:hover {
    transform: scale(1.02) !important;
    background-color: #ffffff10;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
    transition: 0.3s;
    overflow: hidden;
  }
}
